<h1>Автобусные туры</h1>

<table  border="1px">
  <thead>
    <tr>
      <th>Название</th>
      <th>Цена</th>
      <th>Imgurl</th>
      <th>О туре</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hottours.each do |hottour| %>
      <tr>
        <td><%= hottour.name %></td>
        <td><%= hottour.price %></td>
        <td><img class="photo" src=<%= hottour.imgurl %> width="400" height="200"><td>
        <td><%= hottour.about %></td>
        <td><%= link_to 'Показать', hottour %></td>
        <td><%= link_to 'Редактировать', edit_hottour_path(hottour) %></td>
        <td><%= link_to 'Удалить', hottour, method: :delete, data: { confirm: 'Ты уверена?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый тур', new_hottour_path %>
