<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @hottour.name %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @hottour.price %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @hottour.imgurl %>
</p>

<p>
  <strong>О туре:</strong>
  <%= @hottour.about %>
</p>

<%= link_to 'Редактировать', edit_hottour_path(@hottour) %> |
<%= link_to 'Вернуться', hottours_path %>
