<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @country.imgurl %>
</p>

<p>
  <strong>About:</strong>
  <%= @country.about %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
