<h1>Автобусные туры</h1>

<table  border="1px">
  <thead>
    <tr>
      <th>Название</th>
      <th>Цена</th>
      <th>Imgurl</th>
      <th>О туре</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bustours.each do |bustour| %>
      <tr>
        <td><%= bustour.name %></td>
        <td><%= bustour.price %></td>
        <td><img class="photo" src=<%= bustour.imgurl %> width="400" height="200"><td>
        <td><%= bustour.about %></td>
        <td><%= link_to 'Показать', bustour %></td>
        <td><%= link_to 'Редактировать', edit_bustour_path(bustour) %></td>
        <td><%= link_to 'Удалить', bustour, method: :delete, data: { confirm: 'Ты уверена?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый тур', new_bustour_path %>
