<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @bustour.name %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @bustour.price %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @bustour.imgurl %>
</p>

<p>
  <strong>О туре:</strong>
  <%= @bustour.about %>
</p>

<%= link_to 'Редактировать', edit_bustour_path(@bustour) %> |
<%= link_to 'Вернуться', bustours_path %>
